html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  font-family: roboto, arial helvetica, sans-serif;
}

* anchor hover */
a:hover { background-color: #DDDDFF; } /* or underline or whatever you like */



body {
 background: #03a9f4;
 color: #fff;
 margin: 12px;
}

header{
   display: block;
 margin-bottom: 8px; 
}

header a, a:visited{
  color: #fff;
  text-decoration: none;
 } 

}
/* basic styles */
h1, h2, h3, h4, h5, h6 {padding: 0; }

h1 { font-size: 2.5em; 
  font-weight: 600;
  margin-bottom: 0px;
}
h2 { 
  font-size: 1.75em;
 font-weight: 500;
 margin-bottom: 8px;
}

h4{
  font-size: 1em; 
  margin-bottom: 1em;
}

.button-lightblue{
      background: #0288d1;
    color: #ddd;
  font-weight: 100em;
  padding: 5px;
  border: 3px;
  
  width: auto;
  }

.button-teal{
  background:   #009688;
  color: #ddd;
  font-weight: bold;
  padding: 5px;
  border: 3px;
  width: auto;
  }

 .jsoncell{
  margin-bottom: 20px;
  color: #eceff1;
}
       

.content{
  background: #eee;
}


.itemcard{
  background: #eeeeee;
  color: green;
  padding: 3px;
}
.itemname{
  color:#36343e;
  font-size: 2em;
}

.success{
  font-weight: bold;
  font-style: italic;
  color: #d0f8ce;
  font-size: 2em;
}

.error{
  font-weight: bold;
  font-style: italic;
  color: #e51c23;
  font-size: 2em;
}


.card {
    background:#fafafa;
    border:1px solid #AAA;
    border-bottom:3px solid #BBB;
    padding:0px;
    margin: 3px;
    overflow:hidden;
    color: #01579b;
    float: left;
}

#content {
  background-color: #fff;
}

.cardtitle{
  font-weight: bold;
  font-size: 1em;
  float: none;
  width: 300px;
  overflow: hidden;
  color: #37474f;
  border-bottom: 0px solid #ddd;
  background: #eceff1;
}

.float-left .card {
    float:left;
    width:300px;  
    height:270px;
}

.card h1 {
    margin:0px;
    padding:10px;
    padding-bottom:0px;
}

.card div {
    margin:0px;
    padding:10px;
}


.parsedinventory{
  margin-top: 1em;
}


.button-green{
  background: #259b24;
  color: #fff;
  font-weight: 500em;
  padding: 5px;
  border-radius: 8px;
  border: 3px;
  font-size: 10px;
}


  .reddish {
  color:  #b3e5fc; 
}
.orangish {
  color:  #FFA500;
}
.blueish {
  color: #13647f;
}

.greyish {
  color: #656273;
}

.blued {
  color: #06222e;
}
.yellowish{
  color: #fffd9e;
}
.greenirish {
  color:#698c2d;
}


  #additem{
    
  }

