     #main{
      padding: 1em;
      width: auto;
      }
     
     td { 
          padding: 3px;
   
   .jsoncell{
    a, a:visited{
      white;
   }
}
         }

        table { 
          border-spacing: 5px;
          border-collapse: separate;
          background-color: #b3e5fc;
          color: #000;
          font-weight: bold;
          border-radius: 8px;
          border: 3px;
          padding: 1px;
     

          }
     
     .formtable{
      
      
      }
    html
    {
      font-family: source-sans-pro, helvetica, arial, sans-serif;
      -webkit-font-smoothing: antialiased;

    }

      
        body {
        background: #03a9f4;
        color: #fff;
      

      }


      a, a:visited{
        color: #698c2d;
        text-decoration: none;
      }
/**
 * Set individual heading styles
 */
h1, h2, h3, h4, h5, h6
{
    font-weight: 600;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    line-height: 1.2em;
}

.itemcard{
  background: #eeeeee;
  color: green;
  padding: 3px;
}
.itemname{
  color:#36343e;
  font-size: 2em;
}

.card {
    background:#FFF;
    border:1px solid #AAA;
    border-bottom:3px solid #BBB;
    padding:0px;
    margin:15px;
    overflow:hidden;
    color: black;
    float: left;
}


.card h1 {
    margin:0px;
    padding:10px;
    padding-bottom:0px;
}

.card p {
    margin:0px;
    padding:10px;
}

.float-left .card {
    float:left;
    width:300px;  
    height:270px;
}




h1
{
  font-size: 225%;
}

h2
{
  font-size: 200%;
}

h3
{
  font-size: 175%;
}

h4
{
  font-size: 110%;
    margin-top: 25px;
}

h5
{
  font-size: 125%;
}

h6
{
  font-size: 100%;
}



.button-green{
  background: #259b24;
  color: #fff;
  font-weight: 500em;
  padding: 5px;
  border-radius: 8px;
  border: 3px;
  font-size: 16px;
}

.button-orange{
  background: #f36c60;
  color: #fff;
  font-weight: 500em;
  padding: 5px;
  border-radius: 8px;
  border: 3px;
  font-size: 16px;
}

.button-brown{
  background: #ff5722;
  color: #fff;
  font-weight: 500em;
  padding: 5px;
  border-radius: 8px;
  border: 3px;
  font-size: 16px;
}
  .title{
    font-size: 3em;
    color: #e1f5fe;
  }

  .subtitle{
    color: #b3e5fa;
  }

  .button-gray{
      background: #607d8b;
    color: #fff;
  font-weight: 500em;
  padding: 5px;
  border-radius: 8px;
  border: 3px;
  font-size: 16px;
  }

  .reddish {
  color:  #b3e5fc; 
}
.orangish {
  color:  #FFA500;
}
.blueish {
  color: #13647f;
}

.greyish {
  color: #656273;
}

.blued {
  color: #06222e;
}
.yellowish{
  color: #fffd9e;
}
.greenirish {
  color:#698c2d;
}


  #additem{
    
  }

